rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isTreasurer() {
      return request.auth != null &&
        firestore.exists(/databases/(default)/documents/usuarios/$(request.auth.uid)) &&
        firestore.get(/databases/(default)/documents/usuarios/$(request.auth.uid)).data.role == "treasurer";
    }

    match /comprovantes/{advanceId}/{fileName} {
      allow read, write: if isTreasurer();
    }

    match /audios/{advanceId}/{fileName} {
      allow read, write: if isTreasurer();
    }
  }
}
